body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 16px;

    color: white;
    background-color: rgb(50, 50, 50);
}

a {
    color: #B8D34D;
}

.emoji {
    display: inline;
    vertical-align: text-bottom;
    height: 1em;
    width: auto;
}

/* Main */

main {
    margin: 1vh 1vw;
}